/* Font
----------------------------------------------------------------------------- */

* {
  font-family: var(--font-family-primary, "Comfortaa"), "Comfortaa", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-style: var(--font--style);
  font-feature-settings: var(--font--feature-settings);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 100%;
}

body {
  font-size: var(--font--size-regular);
  line-height: var(--font--size-regular-line-height);
}

/* Options */
/* font-feature-settings: "liga", "dlig", "tnum", "frac", "ss01", "ss02", "ss03", "ss04", "ss05", "ss06"; */

/* Compensate for embedded left side space on H */
/* margin-left: -0.08em; */
