/* Font
----------------------------------------------------------------------------- */

:root {
  --font-family-primary: "Comfortaa";
  --font-gloria-hallelujah: "Gloria Hallelujah";
}

@font-face {
  font-family: "Comfortaa";
  src: url("/fonts/web/comfortaa-latin-ext.woff2") format("woff2");
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  unicode-range:
    U+0100-02BA,
    U+02BD-02C5,
    U+02C7-02CC,
    U+02CE-02D7,
    U+02DD-02FF,
    U+0304,
    U+0308,
    U+0329,
    U+1D00-1DBF,
    U+1E00-1E9F,
    U+1EF2-1EFF,
    U+2020,
    U+20A0-20AB,
    U+20AD-20C0,
    U+2113,
    U+2C60-2C7F,
    U+A720-A7FF;
}

@font-face {
  font-family: "Comfortaa";
  src: url("/fonts/web/comfortaa-latin.woff2") format("woff2");
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

@font-face {
  font-family: "Gloria Hallelujah";
  src: url("/fonts/web/gloria-hallelujah-latin-ext.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range:
    U+0100-02BA,
    U+02BD-02C5,
    U+02C7-02CC,
    U+02CE-02D7,
    U+02DD-02FF,
    U+0304,
    U+0308,
    U+0329,
    U+1D00-1DBF,
    U+1E00-1E9F,
    U+1EF2-1EFF,
    U+2020,
    U+20A0-20AB,
    U+20AD-20C0,
    U+2113,
    U+2C60-2C7F,
    U+A720-A7FF;
}

@font-face {
  font-family: "Gloria Hallelujah";
  src: url("/fonts/web/gloria-hallelujah-latin.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

* {
  font-family: var(--font-family-primary, "Comfortaa"), "Comfortaa", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-style: var(--font--style);
  font-feature-settings: var(--font--feature-settings);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 100%;
}

body {
  font-size: var(--font--size-regular);
  line-height: var(--font--size-regular-line-height);
}

/* Options */
/* font-feature-settings: "liga", "dlig", "tnum", "frac", "ss01", "ss02", "ss03", "ss04", "ss05", "ss06"; */

/* Compensate for embedded left side space on H */
/* margin-left: -0.08em; */
