

/* Font
----------------------------------------------------------------------------- */

@font-face {
  font-family: "safirobold";
  src: url("/fonts/safiro/safiro-bold-webfont.eot");
  src: url("/fonts/safiro/safiro-bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("/fonts/safiro/safiro-bold-webfont.woff2") format("woff2"),
       url("/fonts/safiro/safiro-bold-webfont.woff") format("woff"),
       url("/fonts/safiro/safiro-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.font-safirobold {
  font-family: "safirobold", sans-serif;
}

@font-face {
  font-family: "safirobold_italic";
  src: url("/fonts/safiro/safiro-bolditalic-webfont.eot");
  src: url("/fonts/safiro/safiro-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("/fonts/safiro/safiro-bolditalic-webfont.woff2") format("woff2"),
       url("/fonts/safiro/safiro-bolditalic-webfont.woff") format("woff"),
       url("/fonts/safiro/safiro-bolditalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.font-safirobold_italic {
  font-family: "safirobold_italic", sans-serif;
}

@font-face {
  font-family: "safiromedium";
  src: url("/fonts/safiro/safiro-medium-webfont.eot");
  src: url("/fonts/safiro/safiro-medium-webfont.eot?#iefix") format("embedded-opentype"),
       url("/fonts/safiro/safiro-medium-webfont.woff2") format("woff2"),
       url("/fonts/safiro/safiro-medium-webfont.woff") format("woff"),
       url("/fonts/safiro/safiro-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.font-safiromedium {
  font-family: "safiromedium", sans-serif;
}

@font-face {
  font-family: "safiromedium_italic";
  src: url("/fonts/safiro/safiro-mediumitalic-webfont.eot");
  src: url("/fonts/safiro/safiro-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("/fonts/safiro/safiro-mediumitalic-webfont.woff2") format("woff2"),
       url("/fonts/safiro/safiro-mediumitalic-webfont.woff") format("woff"),
       url("/fonts/safiro/safiro-mediumitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.font-safiromedium_italic {
  font-family: "safiromedium_italic", sans-serif;
}

@font-face {
  font-family: "safiroregular";
  src: url("/fonts/safiro/safiro-regular-webfont.eot");
  src: url("/fonts/safiro/safiro-regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("/fonts/safiro/safiro-regular-webfont.woff2") format("woff2"),
       url("/fonts/safiro/safiro-regular-webfont.woff") format("woff"),
       url("/fonts/safiro/safiro-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.font-safiroregular {
  font-family: "safiroregular", sans-serif;
}

@font-face {
  font-family: "safiroregular_italic";
  src: url("/fonts/safiro/safiro-regularitalic-webfont.eot");
  src: url("/fonts/safiro/safiro-regularitalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("/fonts/safiro/safiro-regularitalic-webfont.woff2") format("woff2"),
       url("/fonts/safiro/safiro-regularitalic-webfont.woff") format("woff"),
       url("/fonts/safiro/safiro-regularitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.font-safiroregular_italic {
  font-family: "safiroregular_italic", sans-serif;
}

@font-face {
  font-family: "safirosemibold";
  src: url("/fonts/safiro/safiro-semibold-webfont.eot");
  src: url("/fonts/safiro/safiro-semibold-webfont.eot?#iefix") format("embedded-opentype"),
       url("/fonts/safiro/safiro-semibold-webfont.woff2") format("woff2"),
       url("/fonts/safiro/safiro-semibold-webfont.woff") format("woff"),
       url("/fonts/safiro/safiro-semibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.font-safirosemibold {
  font-family: "safirosemibold", sans-serif;
}

@font-face {
  font-family: "safirosemibold_italic";
  src: url("/fonts/safiro/safiro-semibolditalic-webfont.eot");
  src: url("/fonts/safiro/safiro-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("/fonts/safiro/safiro-semibolditalic-webfont.woff2") format("woff2"),
       url("/fonts/safiro/safiro-semibolditalic-webfont.woff") format("woff"),
       url("/fonts/safiro/safiro-semibolditalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.font-safirosemibold_italic {
  font-family: "safirosemibold_italic", sans-serif;
}

@font-face {
  font-family: "Baustil Light";
  src:
    url("/fonts/baustil-light.otf") format("opentype"),
    url("/fonts/baustil-light.woff2") format("woff2"),
    url("/fonts/baustil-light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Baustil Black Italic";
  src:
    url("/fonts/baustil-blackitalic.otf") format("opentype"),
    url("/fonts/baustil-blackitalic.woff2") format("woff2"),
    url("/fonts/baustil-blackitalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.font-baustilblackitalic {
  font-family: "Baustil Black Italic", sans-serif;
}

@font-face {
  font-family: "TT Hoves Medium";
  src:
    url("/fonts/tt-hoves-medium.woff2") format("woff2"),
    url("/fonts/tt-hoves-medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}



* {
  font-family: "Baustil Light";
  font-style: var(--font--style);
  font-weight: var(--font--weight);
  font-feature-settings: var(--font--feature-settings);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: var(--font--size-regular);
  line-height: var(--font--size-regular-line-height);
}

.opening-quote-mark {
  margin-left: var(--font--margin-left-opening-quote-mark);
}


/* Options */
/* font-feature-settings: "liga", "dlig", "tnum", "frac", "ss01", "ss02", "ss03", "ss04", "ss05", "ss06"; */

/* Compensate for embedded left side space on H */
/* margin-left: -0.08em; */