/* Media queries
----------------------------------------------------------------------------- */

@media all and (max-width: 1540px) {
  body {
    --image--height: 500px;
  }
}

/* 12 columns */
@media all and (max-width: 1280px) {

  body {
    --font--size-huge: clamp(36px, 4.8vw, 60px);
    --font--size-large: clamp(26px, 3.14vw, 3.14vw);
    --image--height: 400px;
  }
  .section > .content {
    grid-column: 5 / -1;
  }
  .section.intro > .content {
    --intro-gradient-offset: calc(var(--grid--app-xheight) - 11px);
    padding: var(--intro-gradient-offset) 0 80px 0;
  }
  .app-header .brand h3,
  .app-header .contact {
    font-weight: 700;
  }
  .section.contact > .content {
    grid-column: 1 / -1;
    grid-template-columns: var(--grid--app-columns-12);
  }
}

/* 6 columns */
@media all and (max-width: 1020px) {

  body {
    --grid--app-margin: 20px;
    --grid--app-columns: var(--grid--app-columns-6);
    --font--size-huge: clamp(36px, 6.8vw, 60px);
    --font--size-large: clamp(26px, 4.24vw, 50px);
    --font--size-medium: 22px;
    --image--height: 400px;
  }
  .app-grid-overlay .column:nth-child(n+7) {
    display: none;
  }
  .app-header > .content {
    padding: 8px 0;
  }
  .app-header .status {
    display: none;
  }
  .app-header .brand,
  .app-header .contact {
    padding: 10px 0 14px 0;
  }
  .app-header .brand h3,
  .app-header .contact {
    line-height: 24px;
    font-weight: 700;
  }
  .app-header .contact > .content {
    display: none;
  }
  .app-header .actions {
    gap: 8px;
  }
  .app-header .status {
    padding-right: 0;
  }
  .app-header .status .text {
    color: var(--color--foreground--100);
    animation: breathe-text 1.5s ease-in-out alternate infinite;
  }
  .app-header .contact {
    display: none;
  }
  .app-header .navigation {
    display: flex;
  }
  body.mobile-nav--is--transitioning {
    overflow: hidden;
  }
  .app-nav {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: var(--grid--app-xheight);
    background-color: var(--color--background--100);
    /* background-color: rgb(0 0 0 / 0.85);
    backdrop-filter: blur(12px); */
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    display: none;
  }
  body.mobile-nav--is--transitioning .app-nav {
    display: block;
    transition: opacity 0.2s ease-in;
    transition-delay: 0.3s;
  }
  body.mobile-nav--is--visible .app-nav {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.2s ease-out;
    transition-delay: 0;
  }
  .app-nav .item {
    font-size: var(--font--size-medium);
    line-height: 24px;
    margin-left: var(--font--margin-left);
    padding: 4px calc(44px + var(--grid--app-margin)) 4px var(--grid--app-margin);
    opacity: 0;
    transform: translateY(-8px);
  }
  .app-nav .toggles {
    margin-left: var(--font--margin-left);
    padding: 4px calc(44px + var(--grid--app-margin)) 4px var(--grid--app-margin);
    transform: translateY(-8px);
  }
  body.mobile-nav--is--transitioning .app-nav .item {
    transition: opacity 0.2s ease-in, transform 0.2s ease-in;
  }
  body.mobile-nav--is--visible .app-nav .item {
    opacity: 1;
    transform: none;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  }
  body.mobile-nav--is--transitioning .app-nav .item:nth-child(1)  { transition-delay: 0.14s; }
  body.mobile-nav--is--transitioning .app-nav .item:nth-child(2)  { transition-delay: 0.12s; }
  body.mobile-nav--is--transitioning .app-nav .item:nth-child(3)  { transition-delay: 0.10s; }
  body.mobile-nav--is--transitioning .app-nav .item:nth-child(4)  { transition-delay: 0.08s; }
  body.mobile-nav--is--transitioning .app-nav .item:nth-child(5)  { transition-delay: 0.06s; }
  body.mobile-nav--is--transitioning .app-nav .item:nth-child(6)  { transition-delay: 0.04s; }
  body.mobile-nav--is--transitioning .app-nav .item:nth-child(7)  { transition-delay: 0.02s; }
  body.mobile-nav--is--transitioning .app-nav .item:nth-child(8)  { transition-delay: 0.00s; }

  body.mobile-nav--is--visible .app-nav .item:nth-child(1)  { transition-delay: 0.16s; }
  body.mobile-nav--is--visible .app-nav .item:nth-child(2)  { transition-delay: 0.18s; }
  body.mobile-nav--is--visible .app-nav .item:nth-child(3)  { transition-delay: 0.20s; }
  body.mobile-nav--is--visible .app-nav .item:nth-child(4)  { transition-delay: 0.22s; }
  body.mobile-nav--is--visible .app-nav .item:nth-child(5)  { transition-delay: 0.24s; }
  body.mobile-nav--is--visible .app-nav .item:nth-child(6)  { transition-delay: 0.26s; }
  body.mobile-nav--is--visible .app-nav .item:nth-child(7)  { transition-delay: 0.28s; }
  body.mobile-nav--is--visible .app-nav .item:nth-child(8)  { transition-delay: 0.30s; }

  .section > .content {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    gap: var(--grid--app-gutter);
  }
  .section.cover > .content {
    grid-column: 1 / -1;
    display: block;
    text-align: left;
  }
  .section.intro > .content {
    --intro-gradient-offset: calc(var(--grid--app-xheight) - 11px);
    padding: var(--intro-gradient-offset) 0 40px 0;
  }
  .section.values .tools {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: var(--grid--app-columns-2);
    gap: var(--grid--app-gutter);
  }
  .section.contact > .content {
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
  }
  .section.values .title,
  .section.values .tools .title,
  .section.values .tools .content,
  .section.background .item .company,
  .section.background .item .metadata,
  .section.background .item .description,
  .section.about .certification {
    grid-column: 1 / 4;
  }
  .section.values .description,
  .section.background .description,
  .section.about .biography,
  .section.about .education,
  .section.about .colophon,
  .section.contact .text {
    grid-column: 4 / -1;
  }
  .section.contact .hook {
    grid-column: 1 / -1;
  }
  .section.contact .image {
    grid-column: 1 / 3;
  }
  footer > h1:nth-child(1) {
    grid-column-start: 1;
  }
  footer > h1:nth-child(2) {
    grid-column-start: 4;
  }
  footer > h1:nth-child(3) {
    grid-column-start: 6;
  }
}

/* 4 columns */
@media all and (max-width: 760px) {

  body {
    --grid--app-columns: var(--grid--app-columns-4);
  }
  .app-grid-overlay .column:nth-child(n+5) {
    display: none;
  }
  .section.intro > .content {
    --intro-gradient-offset: calc(var(--grid--app-xheight) - 11px);
    padding: var(--intro-gradient-offset) 0 40px 0;
  }
  .app-header .brand h3,
  .app-header .contact {
    font-weight: 700;
  }
  .section.values > .content,
  .section.background > .content,
  .section.background .item,
  .section.references > .content,
  .section.about > .content {
    grid-template-columns: subgrid;
  }
  .section.values .content > .title {
    padding-bottom: 20px;
  }
  .section.values .main {
    grid-template-columns: subgrid;
  }
  .section.values .description {
    grid-column: 3 / -1;
    font-size: var(--font--size-regular);
  }
  .section.values .tools {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: var(--grid--app-columns);
    margin-top: 20px;
  }
  .section.values .tools .title {
    grid-column: 1 / -1;
    padding-bottom: 0;
    padding-top: 0;
    font-size: var(--font--size-large);
  }
  .section.values .tools .content {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: var(--grid--app-columns-2);
  }
  .section.values .tools h3 {
    font-size: var(--font--size-large);
  }
  .section.values .tools p {
    font-size: var(--font--size-regular);
  }
  .section.background .description,
  .section.references .item {
    grid-column: 1 / 3;
  }
  .section.background .items,
  .section.background .items .item {
    grid-column: 1 / -1;
  }
  .section.background .item .metadata,
  .section.background .item .description {
    grid-column: 1 / 3;
  }
  .section.background .item .company,
  .section.background .item .metadata   {
    font-size: var(--font--size-regular);
    grid-column: 1 / -1;
  }
  .section.background .item .role {
    grid-column: 1 / -1;
    font-weight: 700;
  }
  .section.references .item:nth-child(2) {
    padding-top: 40px;
  }
  .section.references .quote {
    padding-right: 0;
  }
  .section.about .certification {
    grid-column: 1 / 3;
  }
  .section.about .education {
    grid-column: 3 / -1;
  }
  .section.about .awards,
  .section.about .press,
  .section.about .colophon,
  .section.about .biography {
    grid-column: 3 / -1;
  }
  .section.contact > .content {
    grid-template-columns: var(--grid--app-columns);
  }
  .section.contact > .content .hook {
    grid-column: 1 / -1;
  }
  .section.contact > .content .image {
    grid-column: 1 / 3;
  }
  .section.contact > .content .text {
    grid-column: 3 / -1;
    grid-template-columns: var(--grid--app-columns-1);
  }
  .section.contact .actions {
    padding: 80px 0 20px;
  }
  footer > h1:nth-child(1) {
    grid-column-start: 1;
  }
  footer > h1:nth-child(2) {
    grid-column-start: 3;
  }
  footer > h1:nth-child(3) {
    grid-column-start: 4;
    text-align: right;
  }
}

/* 2 columns */
@media all and (max-width: 500px) {

  body {
    --grid--app-margin: 16px;
    --grid--app-columns: var(--grid--app-columns-2);
    --grid--app-gutter: 16px;
    --font--size-huge: clamp(32px, 7.5vw, 7.5vw);
    --font--size-large: clamp(22px, 2.64vw, 2.64vw);
  }
  .app-header .navigation .icon {
    width: 25px;
    height: 28px;
  }
  .app-header .navigation .line {
    transform: translateX(5px);
  }
  .app-header .navigation .line .content {
    width: 25px;
    height: 2.3px;
  }
  .section.values > .content,
  .section.background > .content,
  .section.background .item,
  .section.references > .content,
  .section.about > .content {
    grid-template-columns: subgrid;
  }
  .app-grid-overlay .column:nth-child(n+3) {
    display: none;
  }
  .section h1 {
    line-height: 1;
  }
  .section.intro .text {
    min-height: calc(1em * 7);
  }
  .section.intro > .content {
    --intro-gradient-offset: calc(var(--grid--app-xheight) - 11px);
    padding: var(--intro-gradient-offset) 0 20px 0;
  }
  .section.values .description,
  .section.background .item .description,
  .section.background .description,
  .section.references .item,
  .section.about .biography {
    grid-column: 1 / -1;
  }
  .section.about .certification {
    grid-column: 1 / -1;
  }
  .section.about .education {
    grid-column: 1 / -1;
  }
  .section.contact > .content .hook {
    grid-column: 1 / -1;
  }
  .section.contact > .content .image {
    grid-column: 1;
  }
  .section.contact > .content .text {
    grid-column: 2;
  }
  footer {
    grid-auto-flow: column;
  }
  footer > h1:nth-child(1) {
    grid-column: 1;
  }
  footer > h1:nth-child(2),
  footer > h1:nth-child(3) {
    grid-column: 2;
    grid-row: 1;
  }
}

/* Short height */
@media all and (max-height: 760px) {

  body {
    --grid--app-xheight: 120px;
  }
}