/* Variables
------------------------------------------------------------ */

:root {
  --font--style: normal;
  --font--weight: 500;
  --font--margin-left: -0.07em;
  --font-handwriting: var(--font-gloria-hallelujah);
  --font--feature-settings: "liga", "ss02", "ss03", "ss04", "ss06";
  --font--feature-settings-no-stylized-numeral-8: "ss06" 0;
  --font--size-monster: clamp(2.625rem, 1.5rem + 5vw, 5rem);
  --font--size-huge: clamp(2rem, 1.25rem + 3.5vw, 3.25rem);
  --font--size-large: clamp(1.625rem, 1rem + 2.5vw, 2.5rem);
  --font--size-medium: clamp(1.25rem, 0.875rem + 1.5vw, 1.625rem);
  --font--size-handwritten: clamp(1.425rem, 0.975rem + 2vw, 2rem);
  --font--size-regular: clamp(1rem, 0.875rem + 0.5vw, 1.125rem);
  --font--size-small: clamp(0.875rem, 0.8125rem + 0.25vw, 0.9375rem);
  --font--size-regular-line-height: 1.25;
}

:root {
  --grid--app-margin: 2.5rem;
  --grid--app-columns: var(--grid--app-columns-12);
  --grid--app-columns-12: repeat(12, [col-start] 1fr);
  --grid--app-columns-8: repeat(8, [col-start] 1fr);
  --grid--app-columns-6: repeat(6, [col-start] 1fr);
  --grid--app-columns-4: repeat(4, [col-start] 1fr);
  --grid--app-columns-3: repeat(3, [col-start] 1fr);
  --grid--app-columns-2: repeat(2, [col-start] 1fr);
  --grid--app-columns-1: repeat(1, [col-start] 1fr);
  --grid--app-gutter: 1.25rem;
  --grid--app-xheight: 13.75rem; /* 120px */
  --image--height: 35rem;
  --bottom-overlay-height: 240px;
  --overlay-edge-bleed: 12px;
}
